@charset "UTF-8";


// colors
$black : #2f3542;
$gray : #747d8c;
$lightGray: #ced6e0;
$white:#f5f6fa;
$blue:#3742fa;
$lightBlue:#1e90ff;
$red:#ff4757;
$rightRed:#ff6b81;
$orange:#ffa502;
$yellow:#eccc68;
$green:#2ed573;
$lightGreen:#7bed9f;
$max-width:896px;